html { 
    background-image: url(images/brick.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
}

body {
    background-color: transparent;
    }

#name {
    font-family: 'Princess Sofia', cursive;
    font-size: 50px;
    margin-left: 2rem;
}

.fab {
    color: white;
}

#list {
    font-family: 'Princess Sofia', cursive;
    color:#292b2c;
    font-size: 40px;
    margin-left: 6rem;
}

.about {
    border-style: solid;
    border-color: #292b2c;
    background-color: transparent;
}

#me {
    font-family: 'Princess Sofia', cursive;
    color: black;
    font-size: 24px;
}

.btn {
    font-size: 30px;
}
