html { 
    background-image: url(images/brick.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

body {
    background-color: transparent;
    }

#name {
    font-family: 'Princess Sofia', cursive;
    font-size: 60px;
}

.fab {
    color: white;
}

#list {
    font-family: 'Kalam', cursive;
    color: white;
    font-size: 25px;
}

.about {
    background-color: transparent;
}

#me {
    font-family: 'Kalam', cursive;
    color: #292b2c;
    font-size: 30px;
    font-weight: bold;
}

.btn {
    font-size: 30px;
}

.pic {
    width: 18rem;
    height: auto;
    border-style: solid;
    border-color: #292b2c;
}

.bio {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Kalam', cursive;
}

.portfolio {
    width: 30rem;
    height: auto;
    border-style: solid;
    border-color: #292b2c;
}

#port-text {
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 25px;
    color: #292b2c;
}

.contact-info {
    text-align: center;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: #292b2c;
}

#contact {
    font-size: 30px;
}

#info {
    font-size: 22px;
}

.form-control {
    font-family: 'Kalam', cursive;
    font-size: 15px;
    color: #292b2c;
}

.control-label {
    font-family: 'Kalam', cursive;
    font-size: 18px;
    color: #292b2c;
}

#submit {
    font-family: 'Kalam', cursive;
    font-size: 30px;
    color: #292b2c;
}
